@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "YOPQ" 300;
}
section {
  background: rgb(172, 108, 255);
  background: linear-gradient(
    180deg,
    rgba(172, 108, 255, 1) 0%,
    rgba(95, 95, 255, 1) 100%,
    rgba(29, 0, 255, 1) 100%
  );
  height: 100vh;
  padding: 0 300px 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: white;

  border: 1px solid red;
  width: 100%;
  display: flex;
}
.container__left {
  width: 50%;
  background-image: url(images/bg-pattern-desktop.svg);
  background-position: -290px 85%;
  background-size: cover;
  background-repeat: no-repeat;
}

.container__right {
  width: 50%;
  padding: 100px 0px 100px 0;
}

li {
  width: 70%;
  list-style: none;
}
.arrow {
  /* float: right; */
  width: 10px;
  height: 10px;
}
.arrow-active {
  transform: rotate(180deg);
  transition: all 1s ease;
}
.faq__list--item__main-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.faq__list--item__paragraph {
  /* display: none; */
  max-height: 0px;
  overflow: hidden;
  transition: all 1s ease-out;
}

.active {
  /* overflow: visible; */
  /* display: block; */
  max-height: 100px;
  transition: all 1s ease;
}
.active-main-text {
  font-weight: 700;
}
hr {
  width: 70%;
  margin: 20px 0 20px 0;
}
